html {
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
   /* font-family: 'Raleway', sans-serif;*/
}
img.imagen {
    width: 100%;
    height: auto;
    
}
img {
    max-width: 100% ;
    height: auto;
}
a {
    cursor: pointer;
}

.modal-fidencio{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	display: flex;
	z-index: 10000;
	animation: modal 0.5s 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	visibility: hidden;
	opacity: 0;
} 
a:hover {
    color: #00B6DE;
    text-decoration-line: none; 
}

a.nav-link.activo.barra {
    color: #9ACAEB;
   
}
button {
    cursor: pointer;
}
.bg-blue {
    background-color:  #0069A6;
    border-top: 5px solid #9ACAEB;
 }
/*--------botones-------------*/
.btn-1:focus, .btn-application:focus {
    outline: none;
 }
 .btn-1 {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    margin-top: 50px;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #0082CA;
    border: 2px solid #0082CA;
}
.btn-10 {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 10%;
}
.btn-10:hover {
    background-color: #0082CA;
    border: 2px solid #0082CA;
}

.btn-application {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    margin-top: 50px;
    cursor: pointer;
}
.btn-application:hover {
    background-color: #0082CA;
    border: 2px solid #0082CA;
}
.btn-ver-catalogo {
    color: white;
    border: 2px solid #0069A6;
    background: #0069A6; 
    width: 200px;
    height: 60px;
    font-weight: 700;
    margin: 70px 0 0 0;
    cursor: pointer;

}
.btn-ver-catalogo:hover {
    border: 2px solid #0069A6;
    background: transparent; 
    color: #0069A6;

}
.btn-productos {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    margin-left: 15PX;
    cursor: pointer;
}
.btn-productos:hover {
    background: #0082CA;
    border: 2px solid #0082CA;
}

.btn-sucursales {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    margin: 50px 255px 0 0;
    cursor: pointer;
}

.btn-cerrar {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 61px;
    width: 225px;
    cursor: pointer;
}

.btn-enviar {
    background-color: #0069A6;
    border: 2px solid #0069A6;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
}

.botonesCatalogo {
    background-color: transparent;
    border: 2px solid #0069A6;
    color: #0069A6;
    padding: 9px 17px;
    margin: 6px 3px;
    cursor: pointer;
}

.botonesCatalogo:hover {
    background: #0082CA;
    border: 2px solid #0082CA;
    color: white;
}

.activo{
    background-color: #0069A6;
    color: #fff;
    font-weight: 700;
}

li.boton {
    list-style: none;
    display: inline-block;
}
/*--------Navbar-------------*/

/*menú responsive*/
header{
	width: 100%;
}

header nav ul li a.activo{
	color: #000;
}

header #btn-menu{
	display: none;
}

header label {
    display: none;
    width: 80px;
	height: 50px;
	padding: 10px;
	font-size: 20px;
	margin: 0;
	position: relative;
}

.oculto-nav{
    display: none;
}

@media screen and (max-width:800px){
    /*navbar*/
    
    header label{
      display: block;
    } 

    header .menu-responsive{
        position: absolute;
        background: #000;
        width: 100%;
        margin-left: -200%;
        transition: all 0.5s;
        z-index: 100;
        opacity: .9;
    }
    
    header nav ul{
        flex-direction: column;
    }

    header .nav{
        margin: auto;
    }
    
    header #btn-menu:checked ~ .menu-responsive {
        margin: 0px -0;
        padding: 30px 0;
    }
    
    header nav ul li{
        text-align: center;
    }
    
    img{
        display: block;
        margin: auto;
    }
    
    
    .nav-link{
        color: #fff;
    }
    
    .nav-link:hover{
        color: #000;
    }
    
    header nav ul li a.activo{
        color: #000;
    }
    /*/navbar*/
}

/*/menú responsive*/
a.nav-link.barra {
    color: white;
    font-size: 15px;
    
}

.mostrar-image {
    display: none;
    }

a.nav-link {
    color: black;
    font-weight: 700;
    font-size: 15px;
   
}
a.nav-link:hover {
   color: #0069A6; 
}

a.nav-link.barra:hover {
    color: #9ACAEB;
}
a.nav-link.activo.barra:hover {
    color: white;
}
.fa-envelope, .fa-phone, .fa-clock {
    color: #0069A6;
    font-size: 25px;
}

.productos-relacionados {
    padding-bottom: 70px;
}
/*-----------cAROUSEL----------*/

.carousel-caption2 {
    position: absolute;
    right: 0%; 
    TOP: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
     text-align: LEFT; 
}

.carousel-caption {
    position: absolute;
    TOP: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
     text-align: right; 
}

h1 {
    font-weight: 700;
}

#inter-movil {
    display: none;
}

/*-----------NOSOTROS----------*/

#nosotros {
    background: #FAFAFA;
    
}
h2.nosotros {
    font-weight: 700;
}
.blue {
    color: #0069A6;
}
.blue2 {
    color: #0082CA;
}
.seccion1 {
    padding: 70px 0 0 0;
}

.seccion2 {
    padding: 50px 0 70px 0;
}
 

/*----------- SERVICIOS ----------*/
 .servicios {
     padding: 100px 0 0 0;
 }

 #servicios .imagen-redondeada {
   
    background-color: #0069A6;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#servicios .imagen-redondeada img {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#servicios .imagen-redondeada:hover {
    background-color:black;
}
img.img-normal {
    width: 60px;
}
.services {
    padding: 70px 0;
}
p.gray {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    
}


/*----------- app ----------*/
#app {
    background-color: #00B6DE;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 70px 0 0 0;
    position: relative;
}

h1.app {
    font-weight: 700;
    font-size: 50px;
    padding: 70px 0 30px 0;
}
h2.app {
    font-weight: 700;
    padding: 10px 0 30px 0; 
}
h5.app {
    padding-bottom: 50px;
}
.brand-app {
    padding-bottom: 140px;
}
.img-app {
    position: absolute;
    bottom: 0px;
    
}

.button-app {
    max-width: 100% ;
    height: auto;
}

/*----------- Productos-inicio ----------*/
#productos-carousel {
    padding: 100px 0;
    
}
.item-carousel {
    margin: 10px 20px;
}
.item-title {
    padding: 20px 0 5px 0;
    color: #0069A6;
}
.item-description {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

/*----------- CATALOGO----------*/

.item-catalogo {
    /* padding: 0 5px; */
    
   
    margin: 15px 5px;
}

.text-item {
    background: #0069A6;
    color: white;
    padding: 5px 10px 1px 10px;
    border-radius: 5px;
}
.text-item:hover {
    background: #0082CA;
}

.catalogo-filtro {
    margin-bottom: 70px;
}



/*-------------PRODUCTOS-------*/
.img-producto {
    padding-top: 50px;
}
.img-product-ocultar {
    display: none;
}
.img-product-mostrar {
    display: inline-block;
}
.producto {
    padding: 70px 0; 
}
.fa-arrow-circle-left {
    font-size: 40px;
    color: #0069A6;
    padding: 10px 0 50px 0;
}

h5.regresar {
    padding: 20px 10px;
    font-weight: 700;
    display: inline-block;
}
 ul.lista-productos {
     padding: 30px 15px;
 }

 .item-product-subtitle {
    padding: 0px 0 5px 0;
    color: #0069A6;
}

/*---------REFACCIONES-----*/
ul.lista-refacciones {
    padding: 10px 15px;
}
#refacciones {
    z-index: 1;
    background: linear-gradient(
        rgba(34, 34, 34, 0.6), 
        rgba(34, 34, 34, 0.5)
      ), url("../images/Trailer_Precedent_5Row.jpg") no-repeat ;
      background-size: cover;
     padding:   200px 0 100px 0;
}
.titulo-refacciones {
    color: white;
    font-weight: 800;
   
}

.img-refaccion {
    padding-top: 00px;
}
/*---------CONTACTO ----------*/
#contacto {
    z-index: 1;
    background: url("../images/bg2.jpg") no-repeat ;
      background-size: cover;
     padding:   200px 0 100px 0;
}
.titulo-sucursales {
    padding-right: 100px;
    color: white;
}

.sucursales {
    padding: 50px 0 70px 0; 
    font-family: 'Raleway', sans-serif
}

.badge {
    display: inline-block;
    padding: 0.25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0rem;
}
.padding-superior {
    padding: 40px 0 10px 0;
    
}
.contacto-text {
    font-size: 14px;
    
}
a.contacto-tel {
    font-size: 14px;
    margin-bottom: 6px;
    color: #0069A6;
    font-family: 'Roboto', sans-serif;
    
}

.padding-superior-tel {
    padding:  10px 0;
}

.errores{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #fff;
    display: none;
    font-size: 14px;
    margin-top: -34px;
    margin-left: 360px;
    padding: 4px;
    position: absolute;
}

@media screen and (max-width:480px){
    .errores{
        margin-left: 190px;
    }
}

.mostrar-mapa {
    display: none ;
}
/*---------Modales-----*/
.modal-header {
    
    color: white;
    background: #0069A6;
}

.close {
    color: white;
}
.close:hover {
    color: #9ACAEB;
}
/*-----------FOOTER ----------*/
 footer.footer {
     background: #0069A6;
     border-top: 20px solid #0082CA;
     padding: 40px 0 0 0;
     color: white;
 }
 h2.footer {
     color: #9ACAEB;
 }
 p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
 }
 h5.footer {
     color: #9ACAEB;
 }

 .margen-movil {
     color: white;
     font-size: 12px;
     
 }
 .fa-phone.dos , .fa-envelope.dos , .fa-map-marker-alt.dos{
     color:white;
     font-size: 18px;
     padding:  0px  5px 5px 0  ;
 }
 .oculto {
     display: none;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
 }
 .footer-link {
     color: white;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
 }
 .copy-mostrar {
    display: none;
    margin-top: -40px;
}

 /*footer {
     position: absolute;
     bottom: -350px;
     width: 100%;
 }*/
 .sucursales-footer {
     padding-left: 25px;
 }
 .margen-movil2 {
    padding: 90px 0 0 0;
}
p.copy {
    margin-top: 40px;
}

 /*----------AVISO---------*/
 .terminos {
     padding: 70px 0 0 0;
 }

 @media screen and (max-width:1270px){  
    .img-app {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        height: auto;
    }
    

 }
 @media screen and (max-width:1270px){
       
 .brand-app {
    padding-bottom: 70px;
}
h1.app {
    font-weight: 700;
    font-size: 46px;
    padding: 20px 0 30px 0;
}
h1.app {
    font-weight: 700;
    font-size: 46px;
    padding: 20px 0 30px 0;
}

    h1.titulo-carousel {    
        font-size: 30px;
    }
    .btn-1 {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 55px;
        width: 190px;
        margin-top: 55px;
        cursor: pointer;
    }
    .btn-application {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 55px;
        width: 190px;
        margin-top: 15px;
        cursor: pointer;
    }
    .carousel-caption {
        position: absolute;
        TOP: 23%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: right;
    }

    .carousel-caption2 {
        position: absolute;
        right: 0%; 
        TOP: 20%;
        left: 10%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
         text-align: LEFT; 
    }
    

}
@media screen and (max-width:992px){  

    p.copy {
        margin-top: 11px;
    }
    h1.app {
        font-weight: 700;
        font-size: 36px;
        padding: 0px 0 30px 0;
    }
    h1.titulo-carousel {    
        font-size: 30px;
    }
    .btn-1 {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 52px;
        width: 152px;
        margin-top: 18px;
        cursor: pointer;
    }
    .btn-application {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 52px;
        width: 152px;
        margin-top: 5px;
        cursor: pointer;
    }
    .img-producto {
        padding-top: 155px;
    }
   
    /* CATÁLOGO*/
    .titulo-refacciones {
        color: white;
        font-weight: 800;
        font-size: 32px;
    }
    #refacciones {
        z-index: 1;
        background: linear-gradient(
     rgba(34, 34, 34, 0.6), 
     rgba(34, 34, 34, 0.5)
     ), url(../images/Trailer_Precedent_5Row.jpg) no-repeat;
        background-size: cover;
        padding: 150px 0 110px 0;
    }
}
@media screen and (max-width:815px){  
    .header-oculto {
        display: none;
    }
    .p.copy {
        margin-top: 10px;
    }
    .copy-mostrar {
        display: inline-block;
        margin-top: -40px;
    }
    h1.titulo-carousel {
        font-size: 23px;
    }
    .btn-1 {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 42px;
        width: 142px;
        margin-top: 18px;
        cursor: pointer;
    }
    .btn-application {
        background-color: #0069A6;
        border: 2px solid #0069A6;
        color: white;
        height: 42px;
        width: 142px;
        margin-top: 10px;
        cursor: pointer;
    }
    .copy-oculto {
        display: none;
    }
}

@media screen and (max-width:770px){   
    #carousel {
         display: none;
    }
    #inter-movil {
        display: flex;
        padding: 200px 0;
        z-index: auto !important;
        background: rgba(34, 34, 34, .5) !important;
        background-size: cover;
    }
} 
@media screen and (max-width:765px){  
    .brand-app {
       padding-bottom: 70px;
   }
   .img-app {
    position: inherit;
    }
    a.nav-link {
        color: black;
        font-weight: 700;
        font-size: 15px;
        padding: 10px;
    }
    h2.nosotros.m-top {
        margin-top: 50px;
    }
    .ocultar {
        display: none;
    }
    .mostrar-image {
    display: flex;
    }
    .img-product-mostrar {
        display: none;
    }
    .img-product-ocultar {
        display: inline-flex;
    }
    .productos-relacionados {
        padding-bottom: 70px;
        margin-top: -50px;
    }
    .mostrar-mapa {
        display: flex;
    }
    .mapa-oculto {
        display: none;
    }
 }

@media screen and (max-width:569px){  
  
    .img-button {
        justify-content: center;
        text-align: center;
        
    }
    .button-app {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .botonesCatalogo {
        background-color: transparent;
        border: 2px solid #0069A6;
        color: #0069A6;
        padding: 7px 12px;
        margin: 6px 3px;
        cursor: pointer;
    }   
    .activo {
        background-color: #0069A6;
        color: #fff;
        font-weight: 700;
    }
    .botonesCatalogo:focus {
       outline: none;
    }
    .btn-productos {
        
        margin-bottom: 46px;
    }
    .img-producto {
        padding-top: 0;
    }
   
    
}
@media screen and (max-width:450px){  

    a.nav-link {
        color: black;
        font-weight: 700;
        font-size: 15px;
        padding: 10px;
    }
    .margen-movil2 {
        padding: 69px 0 0 0;
    }
    .seccion1 {
        padding: 10px 0;
    }
    .seccion2 {
        padding: 0px 0 70px 0;
    }
}

#gracias{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#gracias h1{
    padding-top: 20px;      
}

.gracias-texto{
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
}